{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000000000?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "00000000-0000-0000-0000-000000000000000"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/00000000-0000-0000-0000-000000000000000?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/00000000-0000-0000-0000-000000000000000?api-version=2021-04-01",
        "Retry-After": "10",
        "x-ba-restapi": "0.0.0.0",
        "x-ms-ratelimit-remaining-managementgroups-requests": "59",
        "x-ms-ratelimit-remaining-tenant-writes": "1199"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000000000",
        "type": "Microsoft.Management/managementGroups",
        "name": "00000000-0000-0000-0000-000000000000000",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/00000000-0000-0000-0000-000000000000000?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/00000000-0000-0000-0000-000000000000000?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/00000000-0000-0000-0000-000000000000000?api-version=2021-04-01",
        "Retry-After": "10",
        "x-ba-restapi": "0.0.0.0",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/00000000-0000-0000-0000-000000000000000",
        "name": "00000000-0000-0000-0000-000000000000000",
        "status": "Running"
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/00000000-0000-0000-0000-000000000000000?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "0.0.0.0",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/00000000-0000-0000-0000-000000000000000",
        "name": "00000000-0000-0000-0000-000000000000000",
        "status": "Succeeded",
        "properties": {
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "displayName": "00000000-0000-0000-0000-000000000000000",
          "details": {
            "version": 6,
            "updatedTime": "2022-04-14T06:42:06.4795734Z",
            "updatedBy": "00000000-0000-0000-0000-000000000000"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000000000?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "0.0.0.0",
        "x-ms-ratelimit-remaining-managementgroups-requests": "59",
        "x-ms-ratelimit-remaining-tenant-reads": "11997"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000000000",
        "type": "Microsoft.Management/managementGroups",
        "name": "00000000-0000-0000-0000-000000000000000",
        "properties": {
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "displayName": "00000000-0000-0000-0000-000000000000000",
          "details": {
            "version": 6,
            "updatedTime": "2022-04-14T06:42:06.4795734Z",
            "updatedBy": "00000000-0000-0000-0000-000000000000",
            "parent": {
              "id": "/providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000000",
              "name": "00000000-0000-0000-0000-000000000000",
              "displayName": "00000000-0000-0000-0000-000000000000"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000000000/providers/Microsoft.Resources/deployments/go-test-deploymentMG?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US",
        "properties": {
          "mode": "Incremental",
          "parametersLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json"
          },
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000000000/providers/Microsoft.Resources/deployments/go-test-deploymentMG/operationStatuses/08585516883395217740?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-writes": "1198"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000000000/providers/Microsoft.Resources/deployments/go-test-deploymentMG",
        "name": "go-test-deploymentMG",
        "type": "Microsoft.Resources/deployments",
        "location": "westus",
        "properties": {
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json",
            "contentVersion": "1.0.0.0"
          },
          "templateHash": "653051900461279848",
          "parametersLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json"
          },
          "parameters": {},
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2022-04-14T06:42:32.2958529Z",
          "duration": "PT0.0062985S",
          "correlationId": "00000000-0000-0000-0000-000000000000",
          "providers": [],
          "dependencies": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000000000/providers/Microsoft.Resources/deployments/go-test-deploymentMG/operationStatuses/08585516883395217740?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11996"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000000000/providers/Microsoft.Resources/deployments/go-test-deploymentMG/validate?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US",
        "properties": {
       [...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000000000/providers/Microsoft.Resources/deployments/go-test-deploymentMG/exportTemplate?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-writes": "1198"
      },
      "ResponseBody": {
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "variables": {},
          "resources": [],
          "outputs": {}
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000000000/providers/Microsoft.Resources/deployments/go-test-deploymentMG?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/providers/Microsoft.Resources/operationResults/eyJqb2JJZCI6IkRlcGxveW1lbnREZWxldGlvbkpvYi1NR05TLTAwMDAwMDAwOjJEMDAwMDoyRDAwMDA6MkQwMDAwOjJEMDAwMDAwMDAwMDAwMDAwLUdPOjJEVEVTVDoyRERFUExPWU1FTlRNRy0iLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-tenant-deletes": "14999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Resources/operationResults/eyJqb2JJZCI6IkRlcGxveW1lbnREZWxldGlvbkpvYi1NR05TLTAwMDAwMDAwOjJEMDAwMDoyRDAwMDA6MkQwMDAwOjJEMDAwMDAwMDAwMDAwMDAwLUdPOjJEVEVTVDoyRERFUExPWU1FTlRNRy0iLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": "11992"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/00000000-0000-0000-0000-000000000000000?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "0.0.0.0",
        "x-ms-ratelimit-remaining-tenant-reads": "11991"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/00000000-0000-0000-0000-000000000000000",
        "name": "00000000-0000-0000-0000-000000000000000",
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/go-test-deployment-scope?api-version=2021-04-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway",
        "x-ms-ratelimit-remaining-subscription-reads": "11971"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/go-test-deployment-scope?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "parameters": {
            "location": {
              "value": "West US"
            }
          },
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "outputs": {
              "myparameter": {
                "type": "object",
                "value": "[reference(\u0027Microsoft.Compute/availabilitySets/availabilitySet1\u0027)]"
              }
            },
            "parameters": {
              "location": {
                "allowedValues": [
                  "East US",
                  "West US",
                  "West Europe",
                  "East Asia",
                  "South East Asia"
                ],
                "metadata": {
                  "description": "Location to deploy to"
                },
                "type": "string"
              }
            },
            "resources": [
              {
                "apiVersion": "2019-07-01",
                "location": "[parameters(\u0027location\u0027)]",
                "name": "availabilitySet1",
                "properties": {},
                "type": "Microsoft.Compute/availabilitySets"
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Reso[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/go-test-deployment-scope/operationStatuses/08585516882885705234?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/go-test-deployment-scope?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11968"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/go-test-deployment-scope",
        "name": "go-test-deployment-scope",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "3315814388681758746",
          "parameters": {
            "location": {
              "type": "String",
              "value": "West US"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Succeeded",
          "timestamp": "2022-04-14T06:43:29.4432599Z",
          "duration": "PT10.1173042S",
          "correlationId": "00000000-0000-0000-0000-000000000000",
          "providers": [
            {
              "namespace": "Microsoft.Compute",
              "resourceTypes": [
                {
                  "resourceType": "availabilitySets",
                  "locations": [
                    "westus"
                  ]
                }
              ]
            }
          ],
          "dependencies": [],
          "outputs": {
            "myparameter": {
              "type": "Object",
              "value": {
                "platformUpdateDomainCount": 5,
                "platformFaultDomainCount": 3
              }
            }
          },
          "outputResources": [
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Compute/availabilitySets/availabilitySet1"
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/go-test-deployment-scope/validate?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
        [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/go-test-deployment-scope/exportTemplate?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; char[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnREZWxldGlvbkpvYi1HTlMtR086MkRTREs6MkRURVNUOjJEODUtR086MkRURVNUOjJEREVQTE9ZTUVOVDoyRFNDT1BFLSIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11966"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/go-test-at-subscription?api-version=2021-04-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway",
        "x-ms-ratelimit-remaining-subscription-reads": "11965"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/go-test-at-subscription/operationStatuses/08585516882485126374?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11964"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/go-test-at-subscription/whatIf?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "parametersLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json"
          },
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json"
          }
        },
        "location": "West US"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItLUdPOjJEVEVTVDoyREFUOjJEU1VCU0NSSVBUSU9OLThFRDlEMjQyOjJERjMzOToyRDQ4NjQ6MkRCQTFEOjJEMjZFNzhDNzQzOTI1Iiwiam9iTG9jYXRpb24iOiJXZXN0IFVTIn0?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItLUdPOjJEVEVTVDoyREFUOjJEU1VCU0NSSVBUSU9OLThFRDlEMjQyOjJERjMzOToyRDQ4NjQ6MkRCQTFEOjJEMjZFNzhDNzQzOTI1Iiwiam9iTG9jYXRpb24iOiJXZXN0IFVTIn0?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItLUdPOjJEVEVTVDoyREFUOjJEU1VCU0NSSVBUSU9OLThFRDlEMjQyOjJERjMzOToyRDQ4NjQ6MkRCQTFEOjJEMjZFNzhDNzQzOTI1Iiwiam9iTG9jYXRpb24iOiJXZXN0IFVTIn0?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11961"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItLUdPOjJEVEVTVDoyREFUOjJEU1VCU0NSSVBUSU9OLThFRDlEMjQyOjJERjMzOToyRDQ4NjQ6MkRCQTFEOjJEMjZFNzhDNzQzOTI1Iiwiam9iTG9jYXRpb24iOiJXZXN0IFVTIn0?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11955"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "properties": {
          "correlationId": "00000000-0000-0000-0000-000000000000",
          "changes": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/go-test-at-subscription/validate?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US",
        "properties": {
          "mode": "Incremental",
        [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/go-test-at-subscription/exportTemplate?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "variables": {},
          "resources": [],
          "outputs": {}
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnREZWxldGlvbkpvYi1HTlMtLUdPOjJEVEVTVDoyREFUOjJEU1VCU0NSSVBUSU9OLSIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11954"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Resources/deployments/go-test-deployment-at-tenant?api-version=2021-04-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/go-test-deployment?api-version=2021-04-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/go-test-deployment/operationStatuses/08585516881008687571?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/go-test-deployment/whatIf?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "templ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItR086MkRTREs6MkRURVNUOjJEODUtR086MkRURVNUOjJEREVQTE9ZTUVOVC1CN0FBNUVDMzoyREU0QjQ6MkQ0QjMyOjJEQkJBQToyREEyMjlFQ0I4NDcyQSIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "status": "Failed",
        "error": {
          "code": "InvalidTemplate",
[...]
